[Unit]
Description=Periodically synchronize the Hysteria2 certificate

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
